<div itemscope itemtype="https://schema.org/HowTo">
  <b><span itemprop="name">Nasıl {{ include.coinname }} alınır</span></b>
  <div>Tahmini Maliyet <span itemprop="estimatedCost" itemscope itemtype="https://schema.org/MonetaryAmount">
    <meta itemprop="currency" content="USD"/>
    <meta itemprop="value" content="0"/>
    $0
  </span>
  </div>
  <div>Tahmini Toplam Süre <span itemprop="totalTime" content="P2D">5 dakika</span></div>
  <div><b>Ne Gerekli:</b></div>
  <div itemprop="supply" itemscope itemtype="https://schema.org/HowToSupply">
      <span itemprop="name">Kimlik</span>
  </div>
  <div itemprop="supply" itemscope itemtype="https://schema.org/HowToSupply">
      <span itemprop="name">Mail Adresi</span>
  </div>
  <div itemprop="supply" itemscope itemtype="https://schema.org/HowToSupply">
      <span itemprop="name">Telefon Numarası</span>
  </div>
  <div itemprop="supply" itemscope itemtype="https://schema.org/HowToSupply">
      <span itemprop="name">Ödeme Aracı</span>
  </div>
  <div itemprop="tool" itemscope itemtype="https://schema.org/HowToTool">
      <span itemprop="name">Araç: Bir kripto para borsası</span>
  </div>
  <div itemprop="step" itemscope itemtype="https://schema.org/HowToStep">
    <link itemprop="url" href="{{ include.coinlink }}" />
    <div itemprop="name"><b>Kripto borsalarını karşılaştırın</b></div>
    <img itemprop="image" alt="kripto para borsası {{ include.coinname }}"
         src="https://kripto.istanbul/assets/img/kripto-borsalarini-karsilastir.png"/>
    <div itemprop="itemListElement" itemscope itemtype="https://schema.org/HowToDirection">
      <div itemprop="text">{{ include.step1text }}
      </div>
    </div>
  </div>
  <div itemprop="step" itemscope itemtype="https://schema.org/HowToStep">
    <link itemprop="url" href="{{ include.coinlink }}" />
    <div itemprop="name"><b>Bir hesap oluşturun</b></div>
    <img itemprop="image" alt="üyelik aç"
           src="https://kripto.istanbul/assets/img/hesap-ac.png"/>
    <div itemprop="itemListElement" itemscope itemtype="https://schema.org/HowToDirection">
      <div itemprop="text">{{ include.step2text }}
      </div>
    </div>
  </div>
  <div itemprop="step" itemscope itemtype="https://schema.org/HowToStep">
    <link itemprop="url" href="{{ include.coinlink }}" />
    <div itemprop="name"><b>Para yatır</b></div>
    <img itemprop="image" alt="ödeme yap"
         src="https://kripto.istanbul/assets/img/para-yatir.png"/>
    <div itemprop="itemListElement" itemscope itemtype="https://schema.org/HowToDirection">
      <div itemprop="text">{{ include.step3text }}
      </div>
    </div>
  </div>
  <div itemprop="step" itemscope itemtype="https://schema.org/HowToStep">
    <link itemprop="url" href="{{ include.coinlink }}" />
    <div itemprop="name"><b>{{ include.coinname }} satın al</b></div>
    <img itemprop="image" alt="{{ include.coinname }} coin satın al"
         src="https://kripto.istanbul/assets/img/{{ include.coinlogo }}.png"/>
    <div itemprop="itemListElement" itemscope itemtype="https://schema.org/HowToDirection">
      <div itemprop="text">{{ include.step4text }}
      </div>
    </div>
  </div>
</div>
