<section id="key-takeaways" itemscope itemtype="https://schema.org/ItemList">
  <meta itemprop="name" content="Key Takeaways Section" />
  <h2 class="header">Key Takeaways</h2>
  {% for takeaway in include.takeaways %}
    <div itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <h3 itemprop="name" class="sub-header">{{ takeaway.title }}</h3>
      <p itemprop="description" class="description">{{ takeaway.description }}</p>
      <meta itemprop="position" content="{{ forloop.index }}" />
    </div>
  {% endfor %}
</section>
