---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.language }}" class="no-js">
    {% include head.html %}
    <body class="has-push-menu">
        {% include svg-icons.html %}
        {% include header.html %}
            <section class="content">
                {{ content }}
            </section>
        {% include footer.html %}
    </body>
    {% if page.faq %}<script type="application/ld+json">{"@context":"https://schema.org","@type":"FAQPage","mainEntity":[{% for item in page.faq %}{"@type":"Question","name":"{{item.question}}","acceptedAnswer":{"@type":"Answer","text":"{{item.answer}}"}}{% if forloop.last == false %},{% else %}]}</script>{% endif %}{% endfor %}{% endif %}
    {% if page.useVideo == true %}
    < javascript const v = document.getElementsByClassName('videoPlayer');
    function updateVideo() {
        const id = this.id.replace('vid-','');
        this.classList.add("embed-responsive-16by9"); // adds responsive styling to the video iframe via a css class
        this.innerHTML =
            '<iframe src="//www.youtube.com/embed/'
            + id
            + '?autoplay=1" width="560" height="315" frameborder="0" allowfullscreen></iframe>';
        }
        for (i = 0; i < v.length; i++) {
            v[i].addEventListener("click", updateVideo);
        } >
    {% endif %}
</html>
