---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.language }}" class="no-js">
    {% include head.html %}
    <body class="main-page has-push-menu">
        {% include svg-icons.html %}
        {% include header.html %}
            <section class="content">
                {{ content }}
            </section>
        {% include footer.html %}
        <script>
            if (window.netlifyIdentity) {
                window.netlifyIdentity.on("init", function(user) {
                    if (!user) {
                        window.netlifyIdentity.on("login", function() {
                            document.location.href = "/admin/";
                        });
                    }
                });
            }
        </script>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6583105665743444"
     crossorigin="anonymous"></script>
<!-- Kripto İstanbul Display Ad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6583105665743444"
     data-ad-slot="1257180070"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </body>
</html>
